@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-image: url('images/bg-desktop.png');
    background-color: hsl(229, 57%, 11%);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.component {
    width: 40%;
    height: 20%;
    min-height: 200px;
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(228, 56%, 26%);
    min-width: 300px;
    height: 100%;
    padding: 4%;
    border-radius: 10px;
    border-top-right-radius: 100px;
}
.logo {
    margin-bottom: 20px;
}
.icons {
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.icon-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: hsl(229, 57%, 11%);
}
.icons img {
    padding: 10px;
}
.right-content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(228, 56%, 26%);
    width: 100%;
    min-width: 300px;
    height: 70%;
    padding: 4%;
    border-radius: 10px;
    align-self: flex-end;
    color: hsl(243, 100%, 93%);
}
.right-content p {
    font-size: 0.8em;
    margin-bottom: 10px;
}
.full-bar {
    width: 90%;
    height: 15px;
    border-radius: 20px;
    background: hsl(229, 57%, 11%);
    overflow: hidden;
}
.bar { 
    position: relative;
    height: 100%;
    width: 80%;
    border-radius: 20px;
    background: linear-gradient(to right, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%);
}
.dot {
    position: absolute;
    right: 3px;
    top: 2px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
}
.numbers {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.popup-holder {
    position: absolute;
    height: 60px;
    width: 150px;
    background-color: #fff;
    top: -40px;
    right: 40px;
    color: hsl(229, 7%, 55%);
    border-radius: 5px;
}
.popup {
        position: relative;
        background: #fff;
        border-radius: .4em;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
}
.popup::after {
    content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	margin-left: 48px;
	margin-top: -20px;
    transform: rotate(45deg);
}
.right-content .popup .bolder-text {
    font-weight: 700;
    font-size: 2em;
    color: #000;
}
.lighter-text {
    font-size: 0.6em;
}
.popup {
    font-size: 1.2em;
}
.min, .max {
    font-size: 0.8em;
    margin-top: 5px;
}
@media (max-width: 2000px) {
    .component {
        width: 50%;
    }
}
@media (max-width: 1500px) {
    .component {
        width: 70%;
    }
}
@media (max-width: 1000px) {
    .component {
        width: 90%;
    }
}
@media (max-width: 767px) {
    .component {
        flex-direction: column;
        height: auto;
        width: 60%;
        align-items: center;
    }
    .left-content {
        min-height: 200px;
        padding: 10%;
    }
    .right-content {
        min-height: 150px;
        align-self: center;
    }
    .popup::after {
        border: none;
    }
    .popup-holder {
        top: 0;
        right: 0;
        left: 0;
        bottom: -140px;
        margin: auto;
    }
    .bar-holder {
        margin: 0 auto;
        width: 80%;
    }
    .right-content p {
        text-align: center;
    }
    .full-bar {
        width: 100%;
    }
}